.main-visual {
  height: calc(100vh - 60px);
  overflow: hidden;

  &__img {
    object-fit: cover;
    width: 100%;
    position: relative;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 25%;
    color: #3b3a3a;
    font-size: 70px;
  }
}
